
.header {
    width: 100vw;
    height: 50px;
    background-color: #333;
    color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.infoBtn{
    margin-left: 50px;
  display: flex;
  justify-content: space-between;
}


.infoTime{
margin-right: 50px;
}

.infoTime a:nth-of-type(2){
    color: yellow;
    font-weight: 500;
    font: 1.2em sans-serif;
    margin-left: 10px;
}

.infoTime a:nth-of-type(1):hover{
color: yellow;
text-shadow: #333;
}

a{
    color: white;
    text-decoration: none;
}

button{
    background-color:white;
    color:black;
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding:10px 14px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
}

button:hover {
    background-color: yellow;
}

button:focus {
    outline: none;
}

button a{
    font-size: 14px;
    font-weight: 700;
    color: black;
}

button a img {
    height: 16px;
    width: 16px;
}

